@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* CSS Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* APP */

body {
  background-color: #07000d;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: white;
  font-family: "Rubik", sans-serif;
}

/* container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* tods list */
.title {
  text-align: center;
  font-size: 3rem;
  padding: 3rem 0.1rem;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;

  background-color: rgba(255, 255, 255, 0.1);
  width: 50%;
  font-size: 1.4rem;
  border-radius: 1rem;
  transition: all 0.2s;

  &:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.mutations {
  display: flex;
  gap: 0.75rem;
}

.todo__status,
.todo__delete {
  border: none;
  padding: 0;
  line-height: 1;
  cursor: pointer;
  transition: all 0.2s;
  background: none;
  color: white;
  font-size: 1.6rem;

  &:hover {
    transform: scale(1.15);
  }
}

.todo__status{
    font-size: 1.75rem;
}

/* form */
.form {
  display: flex;
  gap: 0.5rem;
  width: 50%;
  margin: 1rem auto;
}

.form__input {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;

  &:focus, &:hover{
    background-color: rgba(255, 255, 255, 0.85);
  }
}

.form__button{
    border: none;
    background-color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    color: white;
    border-radius: 0.25rem;
    transition: all 0.2s;

    &:hover{
        background-color: #07000d;
    }
}

@media(max-width: 420px){
    .title{
        font-size: 2.5rem;
    }
    .form{
        width: 95%;
    }

    .todo{
        width: 95%;
        font-size: 1.2rem;
    }
}
